In [1]:
import pandas as pd

splits = {'train': 'train.csv', 'validation': 'validation.csv', 'test': 'test.csv'}
df = pd.read_csv("hf://datasets/jquigl/imdb-genres/" + splits["test"])

In [2]:
df.head()

,movie title - year,genre,expanded-genres,rating,description
0,Son of the Wolf - nan,Adventure,Adventure,NaN,"Set in 1800'2 Yukon, The Malamute Kid takes on..."
1,Firstborn - 2003,Action,"Action, Adventure, Fantasy",6.1,Sorcerers fight against themselves for ultimat...
2,13 Cameras - 2015,Thriller,"Crime, Drama, Horror",5.2,"A newlywed couple, move into a new house acros..."
3,"Straight Up, Now Tell Me... - nan",Romance,Romance,NaN,When a gay man brings his fiancee home to meet...
4,The Ugly Duckling - 1959,Crime,"Comedy, Crime, Sci-Fi",5.5,"Henry Jeckle was always the outsider, a bungli..."

In [7]:
df["genre"].unique()

array(['Adventure', 'Action', 'Thriller', 'Romance', 'Crime', 'Fantasy',
       'Mystery', 'Horror', 'War', 'Family', 'Animation', 'Scifi',
       'Sports', 'History', 'Biography', 'Film-noir'], dtype=object)

In [12]:
df.sample(10000).groupby("genre").size()

genre
Action       1336
Adventure     673
Animation     228
Biography     230
Crime         990
Family        434
Fantasy       463
Film-noir      32
History       240
Horror        990
Mystery       585
Romance      1392
Scifi         470
Sports        135
Thriller     1534
War           268
dtype: int64

In [21]:
def filter_adult(labels):
    return ", ".join([label for label in labels.split(", ") if label != "Adult"])


df["expanded-genres"] = df["expanded-genres"].apply(filter_adult)

In [7]:
df["expanded-genres"]

0                         Adventure
1        Action, Adventure, Fantasy
2              Crime, Drama, Horror
3                           Romance
4             Comedy, Crime, Sci-Fi
                    ...
29751        Crime, Drama, Thriller
29752             Adventure, Comedy
29753                Action, Comedy
29754               Comedy, Romance
29755      Action, Adventure, Crime
Name: expanded-genres, Length: 29756, dtype: object

In [22]:
labels = df["expanded-genres"].to_list()

In [23]:
unique_labels = list(set(label for labels in labels for label in labels.split(", ")))

In [25]:
unique_labels.sort()

In [26]:
unique_labels

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [27]:
# store the cleaned data in a new parquet file
df.to_parquet("imdb_cleaned.parquet")